@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

.landing {
  background: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 120%;
  background-position-y: 165%;
  background-size: 810px;
  padding: 60px 150px 0px;
}

.landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0px;
}

.menu {
  display: none;
}

.info-intro h1 {
  color: #242d52;
  font-weight: 700;
  font-size: 4rem;
  line-height: 75px;
}

.info-intro p {
  color: #9095a7;
  font-size: 1.3rem;
  width: 60%;
}

.info-intro p,
.info-intro a {
  margin-top: 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-weight: 500;
  margin: 0px 20px;
  text-decoration: none;
  color: #242d52;
}

nav ul li:hover {
  opacity: 0.5;
}

.get-started {
  background: #f25f3a;
  color: white;
  border-radius: 30px;
  display: inline-block;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 8px 15px -2px rgba(242, 95, 58, 0.5);
          box-shadow: 0px 8px 15px -2px rgba(242, 95, 58, 0.5);
}

.get-started:hover {
  opacity: 0.6;
}

.features-main {
  padding: 80px 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
}

.features-summary h1 {
  font-size: 2.5rem;
  color: #242d52;
}

.features-summary p {
  color: #9095a7;
  width: 75%;
  margin-top: 25px;
  font-size: 1.15rem;
}

.features-list-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
  position: relative;
  z-index: 10;
}

.list-number div {
  color: white;
  background: #f25f3a;
  padding: 9px 22px;
  border-radius: 20px;
}

.list-item-container {
  margin-left: 30px;
}

.list-item-container h5 {
  color: #242d52;
  font-size: 1.25rem;
}

.list-item-container p {
  color: #9095a7;
  font-size: 1.15rem;
  margin: 20px 0px 55px;
}

.testimonials {
  padding: 150px 0px 100px;
  position: relative;
  overflow: visible;
}

.testimonials .center-btn {
  text-align: center;
  margin: 80px 0px 90px;
}

.testimonials .center-btn a {
  padding: 13px 30px;
  font-size: 1.1rem;
}

.testimonials-title {
  position: relative;
  z-index: 10;
}

.testimonials-title h1 {
  text-align: center;
  color: #242d52;
  font-size: 2.5rem;
  z-index: 10;
}

.testimonial-bg {
  z-index: 2;
  position: absolute;
  left: -460px;
  top: -270px;
}

.swiper-container {
  width: 100%;
  z-index: 10;
}

.testimonial-item {
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 35px 25px;
  margin-top: 100px;
  position: relative;
}

.testimonial-item .person {
  position: absolute;
  top: -35px;
}

.testimonial-item .person img {
  width: 80px;
  height: 80px;
}

.person-name {
  color: #242d52;
  font-size: 1.3rem;
  font-weight: 700;
}

.testimonial-text {
  color: #9095a7;
  font-size: 1.1rem;
  margin-top: 15px;
  text-align: center;
}

.pag-bullet-active {
  background: #f25f3a;
  opacity: 1;
}

.pre-contact {
  background: #f25f3a;
  position: relative;
  overflow: hidden;
}

.pre-contact .contact-bg {
  position: absolute;
  top: -30px;
  left: 80px;
  opacity: 0.1;
}

.pre-contact .main-pre-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pre-contact .main-pre-contact h1 {
  color: white;
  font-size: 3rem;
  width: 40%;
}

.pre-contact .main-pre-contact .get-started {
  background: white;
  color: #f25f3a;
  font-weight: 700;
  padding: 13px 35px;
  font-size: 1.2rem;
}

footer {
  background: #1d1e25;
}

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 200px;
}

.footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contact-logos img {
  margin: 0px 5px;
  cursor: pointer;
}

.links-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-flex li {
  margin-top: 15px;
}

.links-flex li.first {
  margin-top: 0px;
}

.links-flex li a {
  text-decoration: none;
  color: #fafafa;
}

.links-flex .links-1 {
  margin-right: 150px;
}

.links-flex .links-2 {
  margin-left: 150px;
}

.email-copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-copyrights .copyrights p {
  font-size: 0.8rem;
  color: #9095a7;
  float: right;
}

.email-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.email-subscription input {
  border: none;
  padding: 15px 10px;
  border-radius: 25px;
}

.email-subscription input:focus {
  outline: none;
}

.email-subscription a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  color: white;
  background: #f25f3a;
  padding: 11px 22px;
  border-radius: 25px;
}

@media (max-width: 375px) {
  .landing {
    background-position-x: 120%;
    background-position-y: 165%;
    background-size: 810px;
    padding: 30px 10px 0px;
  }
  .menu {
    display: block;
  }
  .links {
    display: none;
  }
  nav .get-started {
    display: none;
  }
  .landing-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
  .charts {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    position: relative;
    top: -70px;
  }
  .info-intro {
    position: relative;
    top: -150px;
  }
  .info-intro h1 {
    font-size: 2.5rem;
    line-height: normal;
    text-align: center;
  }
  .info-intro p {
    color: #9095a7;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .info-intro a {
    margin-top: 0px;
  }
  .info-intro .btn-intro {
    text-align: center;
    margin-top: 40px;
  }
  .info-intro .btn-intro .get-started {
    padding: 15px 35px;
    font-size: 1.1rem;
  }
  .features-main {
    padding: 0px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: visible;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-summary h1 {
    text-align: center;
  }
  .features-summary p {
    text-align: center;
    width: 92%;
  }
  .features-list {
    overflow: hidden;
  }
  .features-list-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
  }
  .features-list-flex.first {
    margin-top: 70px;
  }
  .list-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffefeb;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .list-number div {
    color: white;
    background: #f25f3a;
    padding: 9px 22px;
    border-radius: 20px;
  }
  .list-number h5 {
    font-size: 1.1rem;
    margin-left: 11px;
    white-space: nowrap;
  }
  .list-item-container {
    margin-left: 0px;
  }
  .list-item-container p {
    color: #9095a7;
    font-size: 1.1rem;
    margin: 20px 0px 30px;
    text-align: start;
    width: 100%;
  }
  .testimonial-bg {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */