@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);
$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);

body {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
}

.landing {
  background: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 120%;
  background-position-y: 165%;
  background-size: 810px;
  padding: 60px 150px 0px;
}

.landing-content {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.info-intro {
  h1 {
    color: $Dark-Blue;
    font-weight: 700;
    font-size: 4rem;
    line-height: 75px;
  }

  p {
    color: $Dark-Grayish-Blue;
    font-size: 1.3rem;
    width: 60%;
  }

  p,
  a {
    margin-top: 50px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  //padding: 60px 150px 0px;
  align-items: center;

  ul {
    list-style-type: none;

    li {
      display: inline;
      a {
        font-weight: 500;
        margin: 0px 20px;
        text-decoration: none;
        color: $Dark-Blue;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.get-started {
  background: $Bright-Red;
  color: white;
  border-radius: 30px;
  display: inline-block;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  box-shadow: 0px 8px 15px -2px rgba(242, 95, 58, 0.5);

  &:hover {
    opacity: 0.6;
  }
}

.features-main {
  padding: 80px 150px 0px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.features-summary {
  h1 {
    font-size: 2.5rem;
    color: $Dark-Blue;
  }

  p {
    color: $Dark-Grayish-Blue;
    width: 75%;
    margin-top: 25px;
    font-size: 1.15rem;
  }
}

.features-list-flex {
  display: flex;
  margin-left: 200px;
}

.list-number {
  div {
    color: white;
    background: $Bright-Red;
    padding: 9px 22px;
    border-radius: 20px;
  }
}

.list-item-container {
  margin-left: 30px;
  h5 {
    color: $Dark-Blue;
    font-size: 1.25rem;
  }

  p {
    color: $Dark-Grayish-Blue;
    font-size: 1.15rem;
    margin: 20px 0px 55px;
  }
}

.testimonials {
  padding: 150px 0px;
  background: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position-x: -30%;
  background-position-y: -325%;
  //background-size: 810px;
  //overflow: hidden;
  //position: relative;
}

.testimonials-title {
  h1 {
    text-align: center;
    color: $Dark-Blue;
    font-size: 2.5rem;
  }
}

.testimonials-main {
  display: flex;
  justify-content: space-between;
  margin: 60px 0px;
  padding: 0px 0px 300px;
  //position: absolute;
  //width: 140%;
}

// .test-1 {
//   position: relative;
//   width: 24%;
//   float: left;
// }

.testimonial-item {
  background: $Very-Light-Gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
  padding: 60px 35px 0px;
  position: relative;
  .person {
    position: absolute;
    top: -35px;
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.person-name {
  color: $Dark-Blue;
  font-size: 1.3rem;
  font-weight: 700;
}

.testimonial-text {
  color: $Dark-Grayish-Blue;
  font-size: 1.1rem;
}
