@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);
$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
}

ul {
  list-style-type: none;
}

.landing {
  background: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 120%;
  background-position-y: 165%;
  background-size: 810px;
  padding: 60px 150px 0px;
}

.landing-content {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.menu {
  display: none;
}

.info-intro {
  h1 {
    color: $Dark-Blue;
    font-weight: 700;
    font-size: 4rem;
    line-height: 75px;
  }

  p {
    color: $Dark-Grayish-Blue;
    font-size: 1.3rem;
    width: 60%;
  }

  p,
  a {
    margin-top: 50px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  //padding: 60px 150px 0px;
  align-items: center;

  ul {
    li {
      display: inline;
      a {
        font-weight: 500;
        margin: 0px 20px;
        text-decoration: none;
        color: $Dark-Blue;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.get-started {
  background: $Bright-Red;
  color: white;
  border-radius: 30px;
  display: inline-block;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  box-shadow: 0px 8px 15px -2px rgba(242, 95, 58, 0.5);

  &:hover {
    opacity: 0.6;
  }
}

.features-main {
  padding: 80px 150px 0px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.features-summary {
  h1 {
    font-size: 2.5rem;
    color: $Dark-Blue;
  }

  p {
    color: $Dark-Grayish-Blue;
    width: 75%;
    margin-top: 25px;
    font-size: 1.15rem;
  }
}

.features-list-flex {
  display: flex;
  margin-left: 200px;
}

.list-number {
  div {
    color: white;
    background: $Bright-Red;
    padding: 9px 22px;
    border-radius: 20px;
  }
}

.list-item-container {
  margin-left: 30px;
  h5 {
    color: $Dark-Blue;
    font-size: 1.25rem;
  }

  p {
    color: $Dark-Grayish-Blue;
    font-size: 1.15rem;
    margin: 20px 0px 55px;
  }
}

.testimonials {
  padding: 150px 0px 100px;
  position: relative;
  overflow: visible;
  .center-btn {
    text-align: center;
    margin: 80px 0px 90px;
    a {
      padding: 13px 30px;
      font-size: 1.1rem;
    }
  }
}

.testimonials-title {
  position: relative;
  z-index: 10;
  h1 {
    text-align: center;
    color: $Dark-Blue;
    font-size: 2.5rem;
    z-index: 10;
  }
}

.testimonial-bg {
  z-index: 2;
  position: absolute;
  left: -460px;
  top: -270px;
}

.swiper-container {
  width: 100%;
  z-index: 10;
}

.testimonial-item {
  background: hsl(0, 0%, 97%);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 35px 25px;
  margin-top: 100px;
  position: relative;
  .person {
    position: absolute;
    top: -35px;
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.person-name {
  color: $Dark-Blue;
  font-size: 1.3rem;
  font-weight: 700;
}

.testimonial-text {
  color: $Dark-Grayish-Blue;
  font-size: 1.1rem;
  margin-top: 15px;
  text-align: center;
}

.pre-contact {
  background: $Bright-Red;
  position: relative;
  overflow: hidden;
  //margin-bottom: 100px;

  .contact-bg {
    position: absolute;
    top: -30px;
    left: 80px;
    opacity: 0.1;
  }

  .main-pre-contact {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    align-items: center;
    box-shadow: none;
    h1 {
      color: white;
      font-size: 3rem;
      width: 40%;
    }
    .get-started {
      background: white;
      color: $Bright-Red;
      font-weight: 700;
      padding: 13px 35px;
      font-size: 1.2rem;
    }
  }
}

footer {
  background: $Very-Dark-Blue;
}

.main-contact {
  display: flex;
  justify-content: space-between;
  padding: 60px 200px;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-contact-logos {
  img {
    margin: 0px 5px;
    cursor: pointer;
  }
}

.links-flex {
  display: flex;
  li {
    margin-top: 15px;
    &.first {
      margin-top: 0px;
    }
    a {
      text-decoration: none;
      color: $Very-Light-Gray;
    }
  }

  .links-1 {
    margin-right: 150px;
  }

  .links-2 {
    margin-left: 150px;
  }
}

.email-copyrights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .copyrights {
    p {
      font-size: 0.8rem;
      color: $Dark-Grayish-Blue;
      float: right;
    }
  }
}

.email-subscription {
  display: flex;
  align-items: center;
  align-self: flex-start;
  input {
    border: none;
    //font-size: 1.1rem;
    padding: 15px 10px;
    border-radius: 25px;
    &:focus {
      outline: none;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    background: $Bright-Red;
    padding: 11px 22px;
    border-radius: 25px;
  }
}

@media (max-width: 375px) {
  .landing {
    background-position-x: 120%;
    background-position-y: 165%;
    background-size: 810px;
    padding: 30px 10px 0px;
  }

  .menu {
    display: block;
  }

  .links {
    display: none;
  }

  nav {
    .get-started {
      display: none;
    }
  }

  .landing-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px;
  }

  .charts {
    transform: scale(0.6);
    position: relative;
    top: -70px;
  }
  .info-intro {
    position: relative;
    top: -150px;

    h1 {
      font-size: 2.5rem;
      line-height: normal;
      text-align: center;
    }

    p {
      color: $Dark-Grayish-Blue;
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

    a {
      margin-top: 0px;
    }

    .btn-intro {
      text-align: center;
      margin-top: 40px;
    }
  }
}
